@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('../fonts/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-markdown {
  a, p, h1, h2, h3, h4, h5, h6, li {
    font-family: sans-serif;
  }
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #fcfbf8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


}

.min-h-2lh {
  min-height: calc(2 * 1lh);
}

.min-h-3lh {
  min-height: calc(3 * 1lh);
}

a {
  font-family: PatrickHandSC, sans-serif;
  font-size: 0.875em;

}

p {
  font-family: PatrickHandSC, sans-serif;
  font-size: 0.875em;
}

h1 {
  font-family: PatrickHandSC, sans-serif;
  font-size: 2em;
  line-height: 1.1;
}

h2 {
  font-family: PatrickHandSC, sans-serif;
  font-size: 1.5em;
}

h3 {
  font-family: PatrickHandSC, sans-serif;
  font-size: 1.17em;
}

h4 {
  font-family: PatrickHandSC, sans-serif;
  font-size: 1em;
}

h5 {
  font-family: PatrickHandSC, sans-serif;
  font-size: 0.83em;
}

h6 {
  font-family: PatrickHandSC, sans-serif;
  font-size: 0.75em;
}

body {
  font-family: PatrickHandSC, sans-serif;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  cursor: pointer;
}
